{% extends "base.html" %} {% block title %} Change Password {% endblock %} {%
block content %}

<div class="auth">
  <div class="auth_form">
    <h5 class="auth_form_title">Change Password</h5>
    <form method="POST" action="/auth/change_password">
      <div class="auth_form_input">
        <label>Password:</label>
        <input type="password" name="password" placeholder="******" required />
      </div>
      <div class="auth_form_input">
        <label>Confirm Password:</label>
        <input
          type="password"
          name="confirm_password"
          placeholder="******"
          ,
          required
        />
      </div>
      <button type="submit" class="button mt-3">Change Password</button>
    </form>
  </div>
</div>

{% endblock %}
