{% extends "base.html" %} {% block title %} Change Password {% endblock %} {%
block content %}

<div class="auth">
  <div>
    <span>Change Password</span>
  </div>
  <div class="auth_form">
    <form method="POST" action="/auth/change_password">
      <div class="auth_form_input">
        <label>Password</label>
        <input type="password" name="password" placeholder="******" required />
      </div>
      <div class="auth_form_input">
        <label>Confirm Password</label>
        <input
          type="password"
          name="confirm_password"
          placeholder="******"
          ,
          required
        />
      </div>
      <button type="submit" class="button">Change Password</button>
    </form>
  </div>
</div>

{% endblock %}
