{% extends "base.html" %}
{% block title %} SignUp {% endblock %}
{% block content %}

  <a href="{{ url_for('home.home_page') }}">
    <label class="auth-logo">Best<b style="color: green">Bargains</b></label>
  </a>

  <div class="auth">
    <div class="auth_form">
      <h5 class="auth_form_title">Customer Signup</h5>
      <form method="POST" action="/auth/customer/signup">
        <div class="auth_form_input">
          <label>Email:</label>
          <input
            type="email"
            name="email"
            placeholder="example@gmail.com"
            required
          />
        </div>
        <div class="auth_form_input">
          <label>Username:</label>
          <input type="text" name="username" placeholder="John12" required />
        </div>
        <div class="auth_form_input">
          <label>Password:</label>
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <div class="auth_form_input">
          <label>Confirm Password:</label>
          <input
            type="password"
            name="confirm_password"
            placeholder="Confirm Password"
            required
          />
        </div>
        <div class="d-flex flex-column">
          <span>
            Already a user?
            <a class="text-dark " href="{{ url_for('auth.login') }}">Sign In</a>
          </span>
          <button type="submit" class="button mt-3">Signup</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
