{% extends "base.html"%} {% block title %} Login {% endblock %} {% block content
%}

<div class="auth">
  {% if error %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ error }}.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  <div>
    <span>Login</span>
  </div>
  <div class="auth_form">
    <form method="POST" action="/auth/login">
      <div class="auth_form_input">
        <label>Email</label>
        <input
          type="email"
          name="email"
          placeholder="example@gmail.com"
          ,
          required
        />
      </div>
      <div class="auth_form_input">
        <label>Password</label>
        <input
          type="password"
          name="password"
          placeholder="******"
          ,
          required
        />
      </div>
      <button type="submit" class="button">Login</button>
    </form>
  </div>
</div>

{% endblock %}
