{% extends "base.html"%} {% block title %} Reset Password {% endblock %} {%
block content %}

<div class="auth">
  <div class="auth_form">
    <h5 class="auth_form_title">Reset Password</h5>
    <form method="POST" action="/auth/reset_password">
      <div class="auth_form_input">
        <label>Email:</label>
        <input
          type="email"
          name="email"
          placeholder="example@gmail.com"
          ,
          required
        />
      </div>
      <button type="submit" class="button mt-3">Reset Password</button>
    </form>
  </div>
</div>

{% endblock %}
