{% extends "base.html" %}
{% block title %} Cart {% endblock %}
{% block content %}
{% include "header.html" %}
	<div class="container mt-5">
		<div class="d-flex gap-2">
			<div class="card p-3 w-75">
				<h1 id="cart-num-items" class="border-bottom">Cart: (0)</h1>
				<ul id="cart-items" class="cart-list"></ul>
			</div>
			<div id="cart-summary" class="card p-4 w-25">
				<h5 class="border-bottom text-center">CART SUMMURY</h5>
				<div class="d-flex justify-content-between mb-3 mt-3">
					<p>Total</p>
					<span id="cart-total">$ 0<span>
				</div>
				<a href="{{ url_for("cart.cart_checkout") }}" class="btn active text-light">Checkout<a>
			</div>
		</div>
	</div>
{% endblock%}
