{% extends "base.html" %} {% block title %} {{ product.title }} {% endblock %}
{% block content %}

{% include "header.html" %}

<div class="container d-flex justify-space-between m-4">
    <div class="w-50">
        <img id="product-img" class="img-fluid"
            {% if product.images == None %}
            src="{{ url_for('static', filename='images/tv.jpg') }}"
            {% else %}
            src="{{ url_for('media', filename=product.images.file_path) }}"
            {% endif %}
            alt="Product Image"
        />
    </div>
    <div class="w-50 p-5 d-flex flex-column gap-3">
        <h3 id="product-name">{{ product.title }}</h3>
        <h5 id="product-price">{{ product.price }}</h5>
        <div class="d-flex flex-column">
            <h4 class="border-bottom">Description</h4>
            <p>{{ product.description }}</p>
        </div>
	    <input type="hidden" id="product-id" value="{{ product.id }}">

        <button id="add-to-cart-button"  class="btn btn-large border-2 bg-black w-25 text-light">Add to Cart</button>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}
