{% extends "base.html" %} {% block title %} Products {% endblock %} {% block
content %} {% include "header.html" %}

<div class="container">
  <div class="content">
    <div class="categories">
      <h2>Categories</h2>
      <ul>
        {% for category in categories %}
        <li><a href="{{ url_for('products.get_products', category=category.name) }}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="products">
      {% if products.total > 0 %}
      <div class="d-flex mx-3 pb-3 pt-3 border-bottom">
        <span> {{ products.total }} products found</span>
      </div>
      <div class="grid-container">
          {% for product in products.items %}
          <a
            class="item"
            href="{{ url_for('products.get_product', product_id=product.id)}}"
          >
            <img
              src="{{ url_for('static', filename='images/tv.jpg') }}"
              alt="Image 1"
            />
            <p>{{ product.title }}</p>
            <p>{{ product.price }}</p>
          </a>
          {% endfor %}
      </div>
      {% else %}
      <div class="text-center m-5">
        <h4> No products available !</h3>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <div aria-label="Page navigation example">
      <ul class="pagination">
        {% for page in products.iter_pages() %}
        {% if page %}
          {% if page != products.page %}
            <li class="page-item mx-1">
              <a class="page-link" href="{{ url_for('products.get_products', page=page) }}">{{ page }}</a>
            </li>
          {% else %}
            <li class="page-item active" aria-current="page">
              <a class="page-link">{{ page }}</a>
            </li>
          {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% include "footer.html" %} {% endblock %}
