{% extends "base.html" %}
{% block title %} Merchant Account {% endblock %}
{%block content %}

<div class="d-flex gap-4">
    {% include "merchant/sidebar.html" %}
    <div class="mt-4 w-75">
        Welcome {{ current_user.username }}

        <div class="d-flex gap-5 m-5">
            <div class="card active text-light card-total">
                <div class="card-header">
                    Orders
                </div>
                <div class="card-body text-center font-50">
                    0
                </div>
            </div>
            <div class="card active text-light card-total">
                <div class="card-header">
                    Products
                </div>
                <div class="card-body text-center font-50">
                    0
                </div>
            </div>
            <div class="card active text-light card-total">
                <div class="card-header">
                    Customers
                </div>
                <div class="card-body text-center font-50">
                    0
                </div>
            </div>
        </div>
    </div>
 </div>

{% endblock %}