{% extends "base.html" %}
{% block title %} Add Product {% endblock %}

{% block content %}
<div class="d-flex gap-4">
    {% include "merchant/sidebar.html" %}
    <div class="mt-4 w-75">
        <p class="bold h4 font-weight-bold mb-4">Add Product</p>
        <div class="card h-auto p-5">
            <form class="w-100"
                method="POST"
                enctype="multipart/form-data"
                action="{{ url_for('merchant.merchant_add_product', merchant_id=merchant.id)}}"
            >
                <h5 class="mb-3 pb-3 border-bottom"> Product Info </h5>
                <div class="d-flex gap-3 flex-column">
                    <div class="info-input w-100">
                        <label>Title:</label>
                        <input
                          class="form-control"
                          type="text"
                          name="title"
                          placeholder="Hisense tv"
                          required
                        />
                    </div>
                    <div class="info-input w-100">
                        <label>Description:</label>
                        <textarea name="description" class="form-control" rows="3" required></textarea>
                    </div>
                    <div class="info-input w-100">
                        <label>Price:</label>
                        <input
                          class="form-control"
                          type="number"
                          name="price"
                          placeholder="20"
                          required
                        />
                    </div>
                  </div>
                  <h5 class="mb-3 mt-3 pb-3 border-bottom"> Product Image</h5>
                  <div class="d-flex gap-3">
                    <div class="info-input w-100">
                      <label>Image:</label>
                      <input
                        class="form-control"
                        type="file"
                        name="product_image"
                        required
                      />
                    </div>
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn mt-3 active text-light">Add</button>
                  </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}