.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto 0;
  height: 90vh;
}

.auth .auth_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 550px;
  padding: 20px;
  border: 1px solid rgb(198, 196, 196);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(18, 18, 18);
}

.auth .auth_form .auth_form_title{
  border-bottom: 1px solid rgb(82, 80, 80);
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: rgb(18, 18, 18);
}


.auth .auth_form form .auth_form_input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 5px;
}

.auth .auth_form form .auth_form_input input {
  margin-bottom: 10px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
}

.auth .auth_form form button {
  padding: 10px;
  width: 50%;
  background-color: rgb(35, 33, 33);
  color: aliceblue;
  border-radius: 5px;
}

.create_button {
  text-decoration: none;
  border: 0.5px black solid;
  padding: 10px;
  border-radius: 10px;
}

.auth-logo {
  color: black;
  font-size: 35px;
  padding: 0px 20px;
  padding-top: 20px;
  font-weight: 800;
  cursor: pointer;
}