.cart-list {
	list-style-type: none;
	padding: 0;
}
.cart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}
.cart-total {
	margin-top: 20px;
}

#total-price {
	font-weight: bold;
}
.cart-item button {
    cursor: pointer;
    background-color: green;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 5px;
}    

#cart-num-items {
	font-size: 25px;
	font-weight: bold;
}

.alert-box {
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto; 
	margin-right: auto; 
	width: auto;
	height: auto;
	max-width: 500px;
	background-color: rgb(146, 233, 146);
	color: rgb(80, 78, 78);
	text-align: center;
	z-index: 1000;
	border-radius: 3px;
	padding: 10px 10px;
	position: absolute !important;
	top: 15px;
	right: 5%; /* Position X halfway in */
    transform: translate(-5%); /* Move it halfway back(x,y) */
}