<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best Bargains Eccomerce</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="container">
      <div class="backimg">
        <div class="slider-wrapper">
          <div class="slider">
            <img id="slide-1" src="images/cooking.jpg" alt="" />
            <img id="slide-2" src="images/hometheater.jpg" alt="" />
            <img id="slide-3" src="images/Cosmetics.jpg" alt="" />
            <img id="slide-4" src="images/iphone.jpg" alt="" />
            <img id="slide-5" src="images/beauty2.jpg" alt="" />
            <img id="slide-7" src="images/kitchenutensils.jpg" alt="" />
            <img id="slide-8" src="images/soundbar.0.jpg" alt="" />
            <img id="slide-9" src="images/tvs.png" alt="" />
          </div>
          <div class="slider-nav">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
            <a href="#slide-4"></a>
            <a href="#slide-5"></a>
            <a href="#slide-6"></a>
            <a href="#slide-7"></a>
            <a href="#slide-8"></a>
            <a href="#slide-9"></a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
